<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANA</key>
	<dict>
		<key>topRed</key>
		<real>250</real>
		<key>topGreen</key>
		<real>79</real>
		<key>topBlue</key>
		<integer>20</integer>
		<key>bottomRed</key>
		<integer>201</integer>
		<key>bottomGreen</key>
		<integer>63</integer>
		<key>bottomBlue</key>
		<integer>16</integer>
	</dict>
	<key>BOS</key>
	<dict>
		<key>topRed</key>
		<integer>254</integer>
		<key>topGreen</key>
		<integer>181</integer>
		<key>topBlue</key>
		<integer>18</integer>
		<key>bottomRed</key>
		<integer>205</integer>
		<key>bottomGreen</key>
		<integer>146</integer>
		<key>bottomBlue</key>
		<integer>14</integer>
	</dict>
	<key>BUF</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>33</integer>
		<key>topBlue</key>
		<integer>71</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>26</integer>
		<key>bottomBlue</key>
		<integer>57</integer>
	</dict>
	<key>CGY</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>19</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>CAR</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>19</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>CHI</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>10</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>COL</key>
	<dict>
		<key>topRed</key>
		<integer>109</integer>
		<key>topGreen</key>
		<integer>39</integer>
		<key>topBlue</key>
		<integer>61</integer>
		<key>bottomRed</key>
		<integer>88</integer>
		<key>bottomGreen</key>
		<integer>31</integer>
		<key>bottomBlue</key>
		<integer>49</integer>
	</dict>
	<key>CBJ</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>33</integer>
		<key>topBlue</key>
		<integer>71</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>26</integer>
		<key>bottomBlue</key>
		<integer>57</integer>
	</dict>
	<key>DAL</key>
	<dict>
		<key>topRed</key>
		<integer>2</integer>
		<key>topGreen</key>
		<integer>71</integer>
		<key>topBlue</key>
		<integer>49</integer>
		<key>bottomRed</key>
		<integer>2</integer>
		<key>bottomGreen</key>
		<integer>57</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>DET</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>10</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>EDM</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>33</integer>
		<key>topBlue</key>
		<integer>71</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>26</integer>
		<key>bottomBlue</key>
		<integer>57</integer>
	</dict>
	<key>FLA</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>33</integer>
		<key>topBlue</key>
		<integer>71</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>26</integer>
		<key>bottomBlue</key>
		<integer>57</integer>
	</dict>
	<key>LAK</key>
	<dict>
		<key>topRed</key>
		<integer>33</integer>
		<key>topGreen</key>
		<integer>7</integer>
		<key>topBlue</key>
		<integer>105</integer>
		<key>bottomRed</key>
		<integer>27</integer>
		<key>bottomGreen</key>
		<integer>6</integer>
		<key>bottomBlue</key>
		<integer>85</integer>
	</dict>
	<key>MIN</key>
	<dict>
		<key>topRed</key>
		<integer>2</integer>
		<key>topGreen</key>
		<integer>70</integer>
		<key>topBlue</key>
		<integer>49</integer>
		<key>bottomRed</key>
		<integer>2</integer>
		<key>bottomGreen</key>
		<integer>57</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>MTL</key>
	<dict>
		<key>topRed</key>
		<integer>166</integer>
		<key>topGreen</key>
		<integer>25</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>134</integer>
		<key>bottomGreen</key>
		<integer>20</integer>
		<key>bottomBlue</key>
		<integer>38</integer>
	</dict>
	<key>NSH</key>
	<dict>
		<key>topRed</key>
		<integer>254</integer>
		<key>topGreen</key>
		<integer>181</integer>
		<key>topBlue</key>
		<integer>18</integer>
		<key>bottomRed</key>
		<integer>205</integer>
		<key>bottomGreen</key>
		<integer>146</integer>
		<key>bottomBlue</key>
		<integer>14</integer>
	</dict>
	<key>NJD</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>10</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>NYI</key>
	<dict>
		<key>topRed</key>
		<integer>249</integer>
		<key>topGreen</key>
		<integer>79</integer>
		<key>topBlue</key>
		<integer>20</integer>
		<key>bottomRed</key>
		<integer>201</integer>
		<key>bottomGreen</key>
		<integer>63</integer>
		<key>bottomBlue</key>
		<integer>16</integer>
	</dict>
	<key>NYR</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>56</integer>
		<key>topBlue</key>
		<integer>165</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>46</integer>
		<key>bottomBlue</key>
		<integer>133</integer>
	</dict>
	<key>OTT</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>159</integer>
		<key>bottomGreen</key>
		<integer>10</integer>
		<key>bottomBlue</key>
		<integer>39</integer>
	</dict>
	<key>PHI</key>
	<dict>
		<key>topRed</key>
		<integer>247</integer>
		<key>topGreen</key>
		<integer>69</integer>
		<key>topBlue</key>
		<integer>28</integer>
		<key>bottomRed</key>
		<integer>199</integer>
		<key>bottomGreen</key>
		<integer>56</integer>
		<key>bottomBlue</key>
		<integer>22</integer>
	</dict>
	<key>PHX</key>
	<dict>
		<key>topRed</key>
		<integer>129</integer>
		<key>topGreen</key>
		<integer>36</integer>
		<key>topBlue</key>
		<integer>51</integer>
		<key>bottomRed</key>
		<integer>104</integer>
		<key>bottomGreen</key>
		<integer>29</integer>
		<key>bottomBlue</key>
		<integer>41</integer>
	</dict>
	<key>PIT</key>
	<dict>
		<key>topRed</key>
		<integer>208</integer>
		<key>topGreen</key>
		<integer>200</integer>
		<key>topBlue</key>
		<integer>156</integer>
		<key>bottomRed</key>
		<integer>167</integer>
		<key>bottomGreen</key>
		<integer>161</integer>
		<key>bottomBlue</key>
		<integer>126</integer>
	</dict>
	<key>SJS</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>103</integer>
		<key>topBlue</key>
		<integer>119</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>83</integer>
		<key>bottomBlue</key>
		<integer>96</integer>
	</dict>
	<key>STL</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>51</integer>
		<key>topBlue</key>
		<integer>140</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>41</integer>
		<key>bottomBlue</key>
		<integer>113</integer>
	</dict>
	<key>TBL</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>38</integer>
		<key>topBlue</key>
		<integer>99</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>30</integer>
		<key>bottomBlue</key>
		<integer>80</integer>
	</dict>
	<key>TOR</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>38</integer>
		<key>topBlue</key>
		<integer>100</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>30</integer>
		<key>bottomBlue</key>
		<integer>80</integer>
	</dict>
	<key>VAN</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>132</integer>
		<key>topBlue</key>
		<integer>65</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>106</integer>
		<key>bottomBlue</key>
		<integer>53</integer>
	</dict>
	<key>WSH</key>
	<dict>
		<key>topRed</key>
		<integer>197</integer>
		<key>topGreen</key>
		<integer>12</integer>
		<key>topBlue</key>
		<integer>48</integer>
		<key>bottomRed</key>
		<integer>158</integer>
		<key>bottomGreen</key>
		<integer>10</integer>
		<key>bottomBlue</key>
		<integer>38</integer>
	</dict>
	<key>WPG</key>
	<dict>
		<key>topRed</key>
		<integer>0</integer>
		<key>topGreen</key>
		<integer>38</integer>
		<key>topBlue</key>
		<integer>100</integer>
		<key>bottomRed</key>
		<integer>0</integer>
		<key>bottomGreen</key>
		<integer>30</integer>
		<key>bottomBlue</key>
		<integer>80</integer>
	</dict>
</dict>
</plist>
